* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-family: 'Merriweather', serif;
}

body {
    background-color: #6bd9bc;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
    font-size: 20px;
}

h3 {
    color: #ffffff;
    font-size: 15px;
}

.principal {
    display: flex;
    min-height: 10vh;
    width: 100%;
    background-color: #F3F7F2;
    flex-wrap: wrap-reverse;
}

nav {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #F3F7F2;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav-list li {
    margin-right: 35px;
}

.nav-list li a {
    text-decoration: none;
    color: #010135 ;
    padding: 5px 10px;
    display: block;
}

.nav-list li:hover {
    background-color: #6bd9bc;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

nav li {
    color: #010135 ;
    text-decoration: none;
    list-style: none;
    padding: 5px 10px;
}

nav li:hover {
    cursor: pointer;
    background-color: #6bd9bc;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

nav img {
    width: 100px;
    height: 100px;
}

.hamburguer-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px 10px;

}

.hamburguer-menu:hover {
    background-color: #6bd9bc;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #010135;
    margin: 2.5px 0;
    border-radius: 2px;
}


.login {
    display: flex;
    align-items: collum;
}






@media screen and (max-width:768px) {

    .nav-list {
        display: none;
        flex-direction: column; 
        align-items: flex-end;
        position: absolute;
        top: 80px;
        right: 0; 
        background-color: #F3F7F2;
        width: 100%; 
        box-sizing: border-box;
    }

    .nav-list.active {
        display: flex;
    }

    .hamburguer-menu {
        display: flex;
    }

    nav {
        padding-bottom: px;
    }
}