* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
    font-size: 20px;
}

h3 {
    color: #ffffff;
    font-size: 15px;
}

.principal {
    display: flex;
    min-height: 10vh;
    width: 100%;
    background-color: #F3F7F2;
    flex-wrap: wrap-reverse;
}

nav {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #F3F7F2;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav-list li {
    margin-right: 35px;
}

.nav-list li a {
    text-decoration: none;
    color: #010135 ;
    padding: 5px 10px;
    display: block;
}

.nav-list li:hover {
    background-color: #6bd9bc;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

nav li {
    color: #010135 ;
    text-decoration: none;
    list-style: none;
    padding: 5px 10px;
}

nav li:hover {
    cursor: pointer;
    background-color: #6bd9bc;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

nav img {
    width: 100px;
    height: 100px;
}

.hamburguer-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px 10px;

}

.hamburguer-menu:hover {
    background-color: #6bd9bc;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #010135;
    margin: 2.5px 0;
    border-radius: 2px;
}

#loginForm {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    position: relative;
    height: 100vh;
    background: url('/src/img/girlmusic') center/cover no-repeat; /* Adaptação da imagem como plano de fundo */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.conteudo {
    border-radius: 10px;
    background: #F3F7F2; 
    padding: 20px;
    margin-right: 10%;
    text-align: center; 
    max-width: 80%;
}

section h1 {
    color: #010135;
    margin-bottom: 20px;
}

section span {
    color: #079a73;
}

section img {
    width: 40%;
    height: auto;
    object-fit: cover;
}

section a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    display: inline-block;
    background-color: #010135 ;
    border-radius: 5px;
    box-shadow: 0px 3px 2px #406696;
    margin: 20px;
    transition: transform 0.5s ease;
}

section a:hover {
    transform: scale(1.1);
    transition: scale 0.3s ease; 
}

@media screen and (max-width:768px) {

    .nav-list {
        display: none;
        flex-direction: column; 
        align-items: flex-end;
        position: absolute;
        top: 80px;
        right: 0; 
        background-color: #F3F7F2;
        width: 100%; 
        box-sizing: border-box;
    }

    .nav-list.active {
        display: flex;
    }

    .hamburguer-menu {
        display: flex;
    }

    nav {
        padding-bottom: px;
    }

    section {
        align-items: center;
    }

    .conteudo {
        margin: 20px;
        max-width: 100%;
    }
    
}